<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
        <div class="col-lg-11">
        <ul>
            <li>
                <h1>Educacion 1</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis veniam accusamus vitae sint 
                similique adipisci ex natus labore quibusdam ut, qui dolor quod nisi maiores distinctio 
                tempora quia placeat incidunt!</p>
        </ul>
        <ul>
            <li>
                <h1>Educacion 2</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis veniam accusamus vitae sint 
                similique adipisci ex natus labore quibusdam ut, qui dolor quod nisi maiores distinctio 
                tempora quia placeat incidunt!</p>
        </ul>
        <ul>
            <li>
                <h1>Educacion 3</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis veniam accusamus vitae sint 
                similique adipisci ex natus labore quibusdam ut, qui dolor quod nisi maiores distinctio 
                tempora quia placeat incidunt!</p>
        </ul>
    </div>
</div>

