<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
<img src="../../../assets/fotoperfil.jpeg" class="img-fluid" id="fotoperfil">

    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h1 id="nombre">{{persona.nombre}}{{persona.apellido}}</h1>
        <p>{{persona.titulo}}</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>
                Acerca de mí
            </h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Sint veniam totam culpa ut, assumenda eligendi excepturi harum magni quisquam 
                dignissimos quia aperiam ex, asperiores alias minus nisi ullam, magnam quas?</p>
        </span>
    </div>
</div>

