<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
<circle-progress
  [percent]="85"
  [radius]="100"
  [subtitle]="'HTML'"
  [titleColor]="'grey'"
  [showSubtitle]="true"
  [subtitleColor]="'white'"
  [subtitleFontSize]="'1em'"
  [backgroundColor]="'black'"
  [showBackground]="true"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'white'"
  [innerStrokeColor]="'red'"
  [animation]="true"
  [animationDuration]="1000"
></circle-progress>
</div>

<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="75"
      [radius]="100"
      [subtitle]="'CSS'"
      [titleColor]="'grey'"
      [showSubtitle]="true"
      [subtitleColor]="'white'"
      [subtitleFontSize]="'1em'"
      [backgroundColor]="'black'"
      [showBackground]="true"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'white'"
      [innerStrokeColor]="'red'"
      [animation]="true"
      [animationDuration]="1000"
    ></circle-progress>
    </div>

    <div class="text-center col-sm-3 col-md-4 col-lg-4">
        <circle-progress
          [percent]="100"
          [radius]="100"
          [subtitle]="'TRABAJO GRUPAL'"
          [titleColor]="'grey'"
          [showSubtitle]="true"
          [subtitleColor]="'white'"
          [subtitleFontSize]="'1em'"
          [backgroundColor]="'black'"
          [showBackground]="true"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'white'"
          [innerStrokeColor]="'red'"
          [animation]="true"
          [animationDuration]="1000"
        ></circle-progress>
        </div>

        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
              [percent]="60"
              [radius]="100"
              [subtitle]="'IDIOMA INGLES'"
              [titleColor]="'grey'"
              [showSubtitle]="true"
              [subtitleColor]="'white'"
              [subtitleFontSize]="'1em'"
              [backgroundColor]="'black'"
              [showBackground]="true"
              [outerStrokeWidth]="16"
              [innerStrokeWidth]="8"
              [outerStrokeColor]="'white'"
              [innerStrokeColor]="'red'"
              [animation]="true"
              [animationDuration]="1000"
            ></circle-progress>
            </div>

            <div class="text-center col-sm-4 col-md-4 col-lg-4">
                <circle-progress
                  [percent]="85"
                  [radius]="100"
                  [subtitle]="'JAVASCRIPT'"
                  [titleColor]="'grey'"
                  [showSubtitle]="true"
                  [subtitleColor]="'white'"
                  [subtitleFontSize]="'1em'"
                  [backgroundColor]="'black'"
                  [showBackground]="true"
                  [outerStrokeWidth]="16"
                  [innerStrokeWidth]="8"
                  [outerStrokeColor]="'white'"
                  [innerStrokeColor]="'red'"
                  [animation]="true"
                  [animationDuration]="1000"
                ></circle-progress>
                </div>

                <div class="text-center col-sm-4 col-md-4 col-lg-4">
                    <circle-progress
                      [percent]="85"
                      [radius]="100"
                      [subtitle]="'PHYTON'"
                      [titleColor]="'grey'"
                      [showSubtitle]="true"
                      [subtitleColor]="'white'"
                      [subtitleFontSize]="'1em'"
                      [backgroundColor]="'black'"
                      [showBackground]="true"
                      [outerStrokeWidth]="16"
                      [innerStrokeWidth]="8"
                      [outerStrokeColor]="'white'"
                      [innerStrokeColor]="'red'"
                      [animation]="true"
                      [animationDuration]="1000"
                    ></circle-progress>
                    </div>

                    <div class="text-center col-sm-4 col-md-4 col-lg-4">
                        <circle-progress
                          [percent]="85"
                          [radius]="100"
                          [subtitle]="'GITHUB'"
                          [titleColor]="'grey'"
                          [showSubtitle]="true"
                          [subtitleColor]="'white'"
                          [subtitleFontSize]="'1em'"
                          [backgroundColor]="'black'"
                          [showBackground]="true"
                          [outerStrokeWidth]="16"
                          [innerStrokeWidth]="8"
                          [outerStrokeColor]="'white'"
                          [innerStrokeColor]="'red'"
                          [animation]="true"
                          [animationDuration]="1000"
                        ></circle-progress>
                        </div>

                        <div class="text-center col-sm-4 col-md-4 col-lg-4">
                            <circle-progress
                              [percent]="20"
                              [radius]="100"
                              [subtitle]="'SQL'"
                              [titleColor]="'grey'"
                              [showSubtitle]="true"
                              [subtitleColor]="'white'"
                              [subtitleFontSize]="'1em'"
                              [backgroundColor]="'black'"
                              [showBackground]="true"
                              [outerStrokeWidth]="16"
                              [innerStrokeWidth]="8"
                              [outerStrokeColor]="'white'"
                              [innerStrokeColor]="'red'"
                              [animation]="true"
                              [animationDuration]="1000"
                            ></circle-progress>
                            </div>

                            <div class="text-center col-sm-4 col-md-4 col-lg-4">
                                <circle-progress
                                  [percent]="40"
                                  [radius]="100"
                                  [subtitle]="'PHP'"
                                  [titleColor]="'grey'"
                                  [showSubtitle]="true"
                                  [subtitleColor]="'white'"
                                  [subtitleFontSize]="'1em'"
                                  [backgroundColor]="'black'"
                                  [showBackground]="true"
                                  [outerStrokeWidth]="16"
                                  [innerStrokeWidth]="8"
                                  [outerStrokeColor]="'white'"
                                  [innerStrokeColor]="'red'"
                                  [animation]="true"
                                  [animationDuration]="1000"
                                ></circle-progress>
                                </div>

</div>

